<% if !user_signed_in? %>
	<section class="hero is-dark">
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title is-size-5">
					What are you working on? <span class="has-text-grey-light">Dribbble is where designers get inspired and hired.</span>
				</h1>
				<div class="content">
					<%= link_to "Login", new_user_session_path, class: "button is-primary" %>
				</div>
			</div>
		</div>
	</section>
<% end %>